# Root
.secret
.secrets
.gradle
.kotlin
.idea
local.properties
**/.DS_Store
**/build
# Instances - androidApp
instances/androidApp/google-services.json
instances/androidApp/keystore.jks
# Instances - wearApp
instances/wearApp/google-services.json
instances/wearApp/keystore.jks
